@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap";
:root {
  --r-heading-font: "IBM Plex Mono", monospace;
  --r-main-font: "IBM Plex Mono", monospace;
  --r-heading-text-transform: none;
}

html {
  background-color: inherit;
}

.grid-3 {
  grid-template-columns: auto auto auto;
  display: grid;
}

.grid-2 {
  grid-template-columns: auto auto;
  display: grid;
}

.reveal .img-center {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.reveal .shrunk-header {
  color: #aaa;
  font-size: 4rem;
}

.reveal .foot-notes-grid {
  text-align: justify;
  grid-template-columns: auto auto;
  height: 100px;
  display: grid;
}

.reveal .foot-notes-grid > ul {
  margin-left: auto;
  margin-right: auto;
}

.reveal section img {
  box-shadow: none;
  background-color: #fff0;
  border: none;
}

.reveal .script {
  font-size: 50%;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.fill-500 {
  height: 500px;
}

.fill-200 {
  height: 200px;
}

.fill-100 {
  height: 100px;
}

.reveal .red {
  color: #e22;
}

.reveal small {
  vertical-align: middle;
}

.reveal .bright {
  color: #ddd;
}

.reveal .dull {
  color: #999;
}

.reveal .attn {
  color: #0057b8;
}

.reveal .action-call {
  border-bottom: 0;
  font-size: .5em;
}

.reveal .action-call-h {
  font-size: 1.5em;
}

.reveal .naked-table table td, .reveal .naked-table th {
  border-bottom: 0;
}

.footer-img {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  font-size: .5em;
}

.slides .footnotes-fixed {
  text-align: left;
  font-size: .5em;
  position: fixed;
  bottom: 80px;
  left: 10px;
  right: 10px;
}

.slides .footnotes {
  text-align: left;
  font-size: .5em;
  position: relative;
  left: 10px;
  right: 10px;
}

.slides .footer-text {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  font-size: .5em;
}

.slides .footer-link {
  color: #0057b8;
  margin-left: 10px;
  margin-right: 10px;
}

.slides .footer {
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
}

.reveal .slide-number {
  font-size: 1.25em;
}

.frag-container {
  min-height: 400px;
}

.multi-frag {
  width: 100%;
  position: absolute;
  left: 50%;
}

.multi-frag > div {
  position: relative;
  left: -50%;
}

.row {
  justify-content: space-between;
  display: flex;
}

.column {
  text-align: center;
  flex: 50%;
  position: relative;
}

.column + .column {
  border-left: 1px solid #333;
}

.vc-row {
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-7 {
  flex: 70%;
}

.column-3 {
  flex: 30%;
  align-items: center;
}

.reveal .slides section .fragment.roll-in {
  transform: rotateX(90deg);
}

.reveal .slides section .fragment.roll-in.visible {
  transform: rotateX(0);
}

.text-background {
  background-color: #ffffff80;
}

.text-background-dark {
  background-color: #fffc;
}

.reveal .small {
  font-size: 80%;
}

.reveal .tiny {
  font-size: 50%;
}

.reveal .left-align {
  text-align: left;
}

.container {
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  display: grid;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  display: block;
}

.paper-info {
  margin-left: 5rem;
}

.reveal .text-dark {
  color: #333;
}

/*# sourceMappingURL=index.0f2d14d9.css.map */
