@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
    font-family: 'Inconsolata', monospace;
    color: #FFF;
    background-color: #333;;
    font-size: 2em;
  }

.top {
    margin-top: 3rem;
}

h3 {
    font-size: 2.5rem;
}

a {
    color: #6c76ff;
}

.bigger {
    font-size: 2.0rem;
}

.group {
    /*margin-top: 5rem;*/
}

.justify-text {
    text-align: justify;
}

.openings {
    margin-top: 3rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.paper-info {
    margin-left:5rem;
}

