@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
    font-family: 'Inconsolata', monospace;
    color: #333;
    background-color: #f8f7f6;
    font-size: 2em;
  }

.top {
    margin-top: 3rem;
}

h3 {
    font-size: 2.5rem;
}

.bigger {
    font-size: 2.0rem;
}

.group {
    /*margin-top: 5rem;*/
}